// Project: Indian-tv Dark Skin
// Filename: src/main.scss

$cl-indianred: #d72228;

$cl-verydark: #000;
$cl-dark: #1b1b1b;
$cl-darkred: #6e0000;
$cl-darkblue: #000317;
$cl-verydarkblue: #000317;
$cl-verydarkred: #1a0000;
// $cl-verydarkred: #290101;

$cl-verylight: #fff;
$cl-light: #d2cece;

$cl-link: #ff2200;
$cl-link-hover: #ffaa00;

body.dark {
  // color: $cl-verylight;

  // ::-moz-selection, ::selection {
  //   background-color: #ffff00;
  //   color: #000;
  // }

  /// Zvyrazneni vybraneho textu
  *::selection {
    background-color: #d72228;
    color: white;
    text-shadow: black 3px 3px 3px;
  }
  a::selection {
    color: yellow;
  }

  /// Obal webu
  .page-wrapper {
    background-color: $cl-dark;
  }
  strong {
    color: $cl-light;
  }

  /// Menu
  header {
    background-color: $cl-dark;
    .container {
      h1 {
        a {
          /// Logo Indian
          svg {
            path:not(:last-of-type) {
                fill: $cl-verylight!important;
              }
          }
          // Bile pozadi za raketnou 
          &:before {
            content: ' ';
            color: white;
            background: white;
            display: block;
            width: 25px;
            height: 27px;
            position: absolute;
            top: 20px;
            left: 5px;
            z-index: -10;
          }
        }
      }
      .header__overlayable {
        .header__menu {
          a {
            &:not(:hover) {
              color: $cl-light;
            }
            &:hover {
              color: $cl-link;
            }
          }
          li.active > a {
            color: $cl-link;
          }
          ul {
            background-color: $cl-dark;
          }
        }
      }
      .droppanel-panel {
        background-color: $cl-dark;
        a {
          color: $cl-light;
          &:hover {
            color: $cl-link;
          }
        }
        .droppanel-header {
          strong {
            color: $cl-verylight;
          }
        }
        .droppanel-buttons {
          a {
            color: $cl-dark;
          }
        }
      }
      .header__social {
        ul {
          background-color: $cl-dark;
          a:not(:hover) {
            color: $cl-light;
          }
        }
      }
    }
  }
  #mobileMenu {
    background-color: $cl-dark;
    .header__menu {
      &>li {
        &>a {
          color: $cl-light;
        }
        &.active {
          &>a {
            color: $cl-link;
          }
        }
        &:hover {
          &>a {
            color: $cl-link;
          }
        }
      }
    }
  }

  /// Hlavni obsah (+ obsah Modal dialogu)
  .container, .modal-dialog {
    .page {
      .box {
        background-color: $cl-verydark;
        color: $cl-light;
        p, strong, small, h4.fancy {
          color: $cl-light;
        }
      }
      .sidemenu {
        :not(.active) { 
          a:not(:hover) {
            color: $cl-light;
            background-color: $cl-verydark;
          }
        }
      } 
      .page-left {
        /// Filtry
        .filterbar {
          strong {
            color: $cl-indianred;
          }
        }
        .bar {
          strong {
            color: $cl-dark;
          }
        }
        /// Clanky
        .article {
          background-color: $cl-verydark;
          color: $cl-light;
          .article-body {
            color: $cl-light;
            background-color: $cl-verydark;
          }
          .article__author {
            strong {
              color: $cl-dark;
            }
          }
          .article__header, .article__footer, .article__review_verdict {
            a:not(.btn) {
              color: $cl-light;
            }
            p {
              color: $cl-light;
            }
          }
          .article__review {
            color: $cl-light;
            .article_review__header, .article_review__summary {
              color: $cl-dark;
            }
            .article_review__footer {
              img {
                filter: invert(1) hue-rotate(180deg) saturate(3);
              }
            }
          }
          .article__authors {
            color: $cl-dark;
          }
        }
        /// Diskuze / Komentare
        .box.comments {
          .comment-content {
            h4 {
              a:last-of-type {
                color: $cl-verylight;
              }
            }
          }
          .comment-pinned {
            background-color: $cl-verydarkred;
          }
        }
        /// Hracske recenze /// TODO > design nesedi ke zbytku webu asi se jeste zmeni.
        .usergamereview {
          color: $cl-light;
        }
        .usergamereview-disclaimer {
          color: $cl-light;
        }
        /// Kalendar
        .panel {
          background-color: $cl-verydark;
          color: $cl-light;
          a.calendar-day {
            color: $cl-verylight;
          }
          .box-calendar {
            th {
              background-color: $cl-dark;
              color: $cl-verylight;
            }
          }
        }
      }
      /// Bocni panel webu - a jeho obsah
      .page-right {
        .panel {
          background-color: $cl-verydark;
          color: $cl-light;
          .icon-platform {
            filter: invert(1);
          }
          a.dark {
            color: $cl-light!important;
          }
          .panel__cover_menu {
            a {
              color: $cl-light;
            }
            a:not(:hover) {
              strong {
                color: $cl-light;
              }
            }
          }
          .panel__item:not(.panel__item--image) {
            a:not(:hover) {
              color: $cl-light;
              .panel_reviews__score {
                color: $cl-dark;
              }
            }
          } 
          .panel__menu, .panel__intro, .panel_moderators {
            a:not(:hover) {
              color: $cl-light;
            }
          }
          .panel__reviews {
            color: $cl-dark;
          }
        }
        .panel--solid-blue {
          background-color: $cl-verydarkblue;
        }
        .panel--solid {
          background-color: $cl-verydarkred;
        }
        .sidebox {
          background-color: $cl-verydark;
          color: $cl-light;
          .sidebox-segments .sidebox-segment-list-streams ul li strong>a:not(:hover) {
            color: $cl-light;
          }
        }
      }
    }

    /// Boxy(nahledy) s clanky, recenze, porady
    .articlebox, .episodebox {
      background-color: $cl-verydark;
      color: $cl-light;
      a:not(:hover) {
        color: $cl-light;
        &.btn {
          color: $cl-dark;
        }
      }
      .articlebox__content {
        .articlebox__review_summary {
          color: $cl-dark;
        }
        .articlebox__footer__released {
          color: $cl-light;
        }
        
        .articlebox__score {
          a:not(:hover) { 
            color: $cl-darkred;
          }
        }
      }
    }
    /// Boxy s horizontalnim razenim 
    .articlebox--carousel, .articlebox--contest, .articlebox--grid {
      .articlebox__content {
        background-color: $cl-verydark;
        .articlebox__footer__released {
          color: $cl-light;
        }
      }
    }
    /// Souteze - ukoly, atd.
    #snippet--bonuses {
      ul, small {
        color: $cl-verydark;
      }
    }
    /// Profil uzivatele
    .profile {
      .profile-intro {
        .profile-about { 
          h3 {
            color: $cl-verylight;
            small {
              // color: $cl-light;
            }
          }
        }
      }
    }
  }
  /// Modal dialog - Kalendar
  .modal-dialog {
    header {
      color: $cl-verylight;
      background-color: $cl-indianred;
      button {
        color: $cl-verylight;
      }
    }
    .modal-body {
      background-color: $cl-dark!important;
    }
    .modal-footer {
      background-color: $cl-dark;
    }
  }
} // body

// EndOfFile: src/main.scss
