// Project: Indian-tv Dark Skin
// Filename: src/main.scss

$bg-indianred: #c72b2b;

$bg-verydark: #000;
$bg-dark: #1b1b1b;
$bg-darkred: #290101;
$bg-darkblue: #000317;

$fg-verylight: #fff;
$fg-light: #d2cece;

$fg-link: #ff2200;
$fg-link-hover: #ffaa00;

body.dark {
  // color: $fg-verylight;

  // ::-moz-selection, ::selection {
  //   background-color: #ffff00;
  //   color: #000;
  // }
  /// Menu
  header {
    background-color: $bg-dark;
    .container {
      h1 {
        a {
          // Logo Indian
          svg {
            background: white;
            padding: 2px;
          }
        }
      }
      .header__overlayable {
        .header__menu {
          li {
            a {
              color:  $fg-light;
            }
            &.active {
              &>a {
                color: $fg-link;
              }
            }
            &>ul {
              background-color:  $bg-dark;
            }
            &:hover {
              &>a {
                color: $fg-link;
              }
            }
          }
        }
      }
    }
  }
  #mobileMenu {
    background-color: $bg-dark;
    .header__menu {
      &>li {
        &>a {
          color: $fg-light;
        }
        &.active {
          &>a {
            color: $fg-link;
          }
        }
        &:hover {
          &>a {
            color: $fg-link;
          }
        }
      }
    }
  }

  /// Hlavni obsah 
  .page-wrapper {
    background-color: $bg-dark;
    .container {
      .page {
        .box {
          background-color: $bg-verydark;
          color: $fg-light;
          p {
            color: $fg-light;
          }
          strong {
            color: $fg-light;
          }
        }
        .page-left {
          /// Clanky
          .article {
            background-color: $bg-verydark;
            .article-body {
              color: $fg-light;
              background-color: $bg-verydark;
              strong {
                color: $fg-light;
              }
            }
            .article__author {
              strong {
                color: $bg-dark;
              }
            }
            .article__header, .article__footer, .article__review_verdict {
              strong {
                color: $fg-light;
              }
              p {
                color: $fg-light;
                a {
                  color: $fg-light;
                }
              }
            }
            .article__review {
              background-color: $fg-verylight;
            }
          }
          /// Diskuze / Komentare
          .box.comments {
            color: $fg-light;
            background-color: $bg-verydark;
            .box-header {
              small {
                color: $fg-light;
              }
            }
            .comment-content {
              h4 {
                //&>a {}
                a:last-of-type {
                  color: $fg-verylight;
                }
              }
            }
          }
        }
        .page-right {
          .panel {
            background-color: $bg-verydark;
            .panel__cover_menu {
              a:not(:hover) {
                color: $fg-light;
                strong {
                  color: $fg-light;
                }
              }
            }
            .panel__article {
              strong {
                color: $fg-light;
              }
              &>div {
                color: $fg-light;
              }
            }
            .panel__item {
              a {
                .panel_reviews__name {
                  color: $fg-light;
                }
                &:hover {
                  .panel_reviews__name {
                    color: $fg-link;
                  }
                }
              }
            }
            .panel__activity {
              a.dark {
                color: $fg-light!important;
              }
              &>div {
                color: $fg-light;
              }
            }
          }
          .panel--show-side {
              background-color: $fg-verylight;
            }
        }
      }
      /// Boxy(nahledy) s clanky, recenze, porady
      .articlebox, .episodebox {
        background-color: $bg-verydark;
        color: $fg-light;
        a:not(:hover) {
          color: $fg-light;
        }
        .articlebox__content {
          background-color: $bg-verydark;
          color: $fg-light;
          .articlebox__footer__released {
            color: $fg-light;
          }
          a {
            strong {
              color: $fg-verylight;
            }
          }
        }
      }
      /// Souteze - ukoly, atd.
      #snippet--bonuses {
        ul {
          color: $bg-verydark;
        }
      }
      /// Profil uzivatele
      .profile {
        .profile-intro {
          .profile-about { 
            h3 {
              color: $fg-verylight;
              small {
                color: $fg-light;
              }
            }
          }
        }
      }
    }
  }
//.box.comments ul.article-comments li .comment-content h4 a:last-of-type, 
//.comments.teamprofile ul.article-comments li .comment-content h4 a:last-of-type
} // body

// EndOfFile: src/main.scss
