body.dark {
  color: #fff; }
  body.dark ::-moz-selection, body.dark ::selection {
    background-color: #ffff00;
    color: #000; }
  body.dark .header {
    background-color: #000;
    border-bottom: 1px solid #747474; }
    body.dark .header h1 a {
      overflow: hidden;
      border-radius: 0 0 5px 5px; }
  body.dark .menu {
    background-color: #000;
    border-bottom: 1px solid #747474; }
    body.dark .menu button.navbar-toggler {
      color: #fff; }
  body.dark .flashnews {
    color: #505050; }
  body.dark .menu ul li a {
    color: #d2cece;
    text-shadow: #990000 1px 1px 10px; }
    body.dark .menu ul li a:hover {
      color: #ff2200; }
  body.dark .menu ul li.active a {
    color: #ff2200; }
  body.dark .menu .menu-user li.user a.dropdown-toggle strong {
    font-weight: 600;
    color: #d2cece; }
  body.dark .menu .menu-user li.user a.dropdown-toggle:hover strong {
    color: #ff2200; }
  body.dark .dropdown-menu {
    background-color: #1b1b1b;
    color: #d2cece;
    border-radius: 4px 4px 8px 8px;
    overflow: hidden; }
    body.dark .dropdown-menu a:hover {
      background-color: #4b4b4b;
      color: #d2cece !important; }
  body.dark .page-wrapper {
    background-color: #1b1b1b; }
  body.dark .carousel {
    background-color: #1b1b1b; }
    body.dark .carousel .captions {
      background-color: #000; }
      body.dark .carousel .captions .caption div {
        background-color: #000; }
      body.dark .carousel .captions .caption.live {
        background-color: #000; }
      body.dark .carousel .captions .caption.active div {
        background-color: #c72b2b; }
        body.dark .carousel .captions .caption.active div.caption-live-content {
          color: #d2cece;
          background-color: #000; }
  body.dark h2.box {
    background-color: #290101; }
    body.dark h2.box ul li a {
      color: #d2cece; }
  body.dark .contentbox {
    background-color: #000;
    color: #d2cece; }
    body.dark .contentbox .contentbox-wrapper .contentbox-header a:not(.btn) {
      color: #d2cece; }
    body.dark .contentbox .contentbox-wrapper .contentbox-header small {
      color: #d2cece; }
    body.dark .contentbox .contentbox-wrapper .contentbox-header h3 a:not(.btn) {
      color: #fff; }
    body.dark .contentbox .contentbox-wrapper .contentbox-header h3 a.user {
      color: #ffaa00; }
  body.dark .page-right .sidebox {
    background-color: #290101; }
  body.dark .page-right .box {
    background-color: #290101; }
    body.dark .page-right .box .box-header.box-header-solid {
      background-color: #d72228; }
    body.dark .page-right .box .box-reviews .item a {
      color: #fff; }
      body.dark .page-right .box .box-reviews .item a span {
        background-color: #000317; }
    body.dark .page-right .box .box-favoritegames .item a:not(.btn) {
      color: #d2cece; }
    body.dark .page-right .box ul.box-settingslist li a {
      color: #d2cece; }
      body.dark .page-right .box ul.box-settingslist li a:hover {
        color: #fff; }
    body.dark .page-right .box .box-gameinfo h3 a {
      color: #d2cece; }
  body.dark .page-right .box-blue {
    background-color: #000317; }
    body.dark .page-right .box-blue .box-header.box-header-solid {
      background-color: #1d84c0; }
  body.dark .game {
    background-color: #000; }
    body.dark .game .game-header {
      background-color: #290101; }
      body.dark .game .game-header h2 strong {
        color: #d2cece;
        text-shadow: #ff0000 0px 0px 10px; }
      body.dark .game .game-header h2 span {
        color: #d2cece; }
      body.dark .game .game-header div p {
        color: #fff; }
        body.dark .game .game-header div p a {
          font-weight: 600; }
  body.dark .article {
    background-color: #000;
    color: #d2cece; }
    body.dark .article .article-header {
      background-color: #290101; }
      body.dark .article .article-header h2 strong {
        color: #d2cece;
        text-shadow: #ff0000 0px 0px 10px; }
      body.dark .article .article-header h2 span {
        color: #d2cece; }
      body.dark .article .article-header div p {
        color: #fff; }
        body.dark .article .article-header div p a {
          font-weight: 600; }
    body.dark .article .article-review .article-review-summary ul li {
      background-color: #1b1b1b; }
    body.dark .article .article-body blockquote {
      color: #d2cece; }
  body.dark h4.fancy {
    color: #fff; }
  body.dark .box {
    background-color: #000; }
    body.dark .box .box-header {
      background-color: #290101; }
      body.dark .box .box-header small {
        color: #d2cece; }
  body.dark .box.comments ul.article-comments li .comment-content h4 a:last-of-type {
    color: #a19999; }
  body.dark .filterbox {
    background-color: #000; }
    body.dark .filterbox li {
      color: #d2cece; }
      body.dark .filterbox li a {
        color: #d2cece; }
      body.dark .filterbox li.active a {
        color: #ff2200; }
  body.dark .extras-redakce-profile .profile-content h4 small {
    color: #fff; }
  body.dark .profile-contacts {
    color: #1b1b1b; }
  body.dark .profile .profile-intro .profile-about h3 {
    color: #fff; }
    body.dark .profile .profile-intro .profile-about h3 small {
      color: #d2cece; }
  body.dark .profile .profile-intro .profile-about .profile-level strong {
    color: #fff; }
  body.dark .profile .profile-achievements {
    color: #1b1b1b; }
    body.dark .profile .profile-achievements h3 {
      color: #fff; }
  body.dark .loginContainer .modal-mycontainer, body.dark .loginContainer form {
    background-color: #000; }
  body.dark .modal-content {
    background-color: #1b1b1b; }
  body.dark .text-primary {
    color: #ff2200 !important; }
  body.dark a {
    color: #ff2200; }
    body.dark a:hover {
      color: #ffaa00; }
    body.dark a:focus.text-primary, body.dark a:hover.text-primary {
      color: #ffaa00 !important; }
    body.dark a.dark {
      color: #ffaa00 !important; }
  body.dark .paginator a {
    color: black !important; }
  body.dark ul.sidemenu li a {
    background-color: #000;
    color: #d2cece; }
    body.dark ul.sidemenu li a:hover {
      color: #ff2200; }
  body.dark ul.sidemenu li.active a {
    background-color: #c72b2b; }
    body.dark ul.sidemenu li.active a:hover {
      color: #d2cece; }
  body.dark ul.sidemenu li.disabled a {
    color: #1b1b1b; }
    body.dark ul.sidemenu li.disabled a:hover {
      color: #1b1b1b; }

/*# sourceMappingURL=xxx.css.map */
